* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.landing-1 {
    background-color: #181818;
    height: 80vh;
    justify-content: start;
    display: flex;
    align-items: center;
    color: rgb(237, 237, 237);
}

#btn-login, #btn-signup {
    background-color: green;
    font-weight: bold;
    border: none;
}   

.btn-space {
    margin-right: 5px;
}

.tasks-grid {
    padding-top: 20px;
}

.form-group {
    padding-bottom: 15px;
}

label {
    padding-bottom: 2px;
}